$brown: #9e9b83;
$white: #ede0df;
$black: #2c2930;
$grey: #737268;
$este: #a67a00;

@mixin margenes ($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;

}



.jumbotron 
{
background-color: $grey;
	color: $black;
	@include margenes(50px, 0px);

 }

body {background: $brown;}

footer 
{background-color: $brown;
	color: $black;
@include margenes(30px, 0px);


}
	.btn {

		color: black
	
		}


.card-body {
	padding: 10px -10px 15px;
	
}