.jumbotron {
  background-color: #737268;
  color: #2c2930;
  margin-top: 50px;
  margin-bottom: 0px; }

body {
  background: #9e9b83; }

footer {
  background-color: #9e9b83;
  color: #2c2930;
  margin-top: 30px;
  margin-bottom: 0px; }

.btn {
  color: black; }

.card-body {
  padding: 10px -10px 15px; }
