@brown: #9e9b83;
@grey: #737268;


.margenes (@top, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;

}



.jumbotron 
{
.margenes(50px, 0px);
background-color: @brown;
  color: black;
 }

body {background: @grey;}

footer 
{background-color: @brown;
  color: black;
.margenes(10px, 0px);


}
.card-hotel {
	flex: 1 200px;
.margenes(10px, 0px);
}

.card-body {
  padding: 10px -10px 15px;
  
}
.btn
{
.margenes (50px, 0px);
}