.jumbotron {
  margin-top: 50px;
  margin-bottom: 0px;
  background-color: #9e9b83;
  color: black;
}
body {
  background: #737268;
}
footer {
  background-color: #9e9b83;
  color: black;
  @include margenes(30px, 0px);
}
.card-body {
  padding: 10px -10px 15px;
}
