.jumbotron {
   background-color: yellow;
   color: black;
}

body background-color; yellow;


   
 h5{
 	color: black;
 }

footer  {
   padding: 10px 10px 0 10px;
   background-color: red;
   margin-bottom: 0pax;
   margin-top: 10px;
}
button.btn {

margin-bottom: 30px;
}